<h2 class="ui inverted center aligned huge header">
		Sign Up
</h2>

<div class="ui text container">
	<div class="ui placeholder segment" id="signup-window">
		<%= form_with(model: @user, class: "ui form", local: true) do |f| %>
			<div class="field">
				<%= f.label :username %>
				<input type="text" name="username" placeholder="Username">
			</div>
			<div class="field">
				<%= f.label :password %>
				<input type="text" name="password" placeholder="Password">
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" class="hidden">
				</div>
			</div>
			<%= f.submit(@user.new_record? ? "Submit" : "Update account", class: "ui orange submit button") %>
		<% end %>
	</div>
</div>
