<h2 class="ui inverted center aligned huge header">
		Sign Up
</h2>

<div class="ui text container">
		<form class="ui form">
			<div class="field">
				<label>Username</label>
				<input type="text" name="username" placeholder="Username">
			</div>
			<div class="field">
				<label>Password</label>
				<input type="text" name="password" placeholder="Password">
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" class="hidden">
				</div>
			</div>
			<button class="ui button" type="submit">Submit</button>
		</form>
</div>