<div class="ui segment">
	<i class="circular inverted big orange comment icon"></i>
</div>
	
<div class="ui text huge right menu">

	<% if !logged_in? %>
		<div class="item">
			<%= link_to "Log in", login_path, class: "ui big inverted button" %>
		</div>
	<% else %>
		<div class="item">
			<%= link_to "Logout", logout_path, method: :delete, class: "ui big inverted button" %>
		</div>
	<% end %>
</div>